
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>pfascinate</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="static/bootstrap-theme.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="static/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>




<div class="full col-sm-9">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Pfascinate</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">login</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!-- content -->
    <div class="row">

        <!-- main col right -->
        <div class="col-sm-7">
        <h3>
            User's post
        </h3>

            <div class="panel panel-default">
                <div class="panel-thumbnail"><img src="static/img{{pic_id}}.png" height="500px" width="7000px" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">{{comment}}</p>
                    <a href="/like" class="glyphicon glyphicon-thumbs-up">Like</a>
                    <a href="/unlike" class="glyphicon glyphicon-thumbs-down">Unlike</a>
                    <p>{{num_likes}} likes</p>

                    <p>
                        {% for i in portraits %}
                        <img src="static/{{ i }}" height="28px" width="28px">
                        {% endfor %}
                    </p>
                    <a href="/image/prev/{{pic_id}}" class="btn btn-primary pull-left">Prev</a>
                    <a href="/image/next/{{pic_id}}" class="btn btn-primary pull-right">Next</a>
                </div>
            </div>

            <div class="well">
                <form class="form-horizontal" role="form" enctype="multipart/form-data" action="/reply" method="POST">
                    <h4>reply</h4>
                    <div class="form-group" style="padding:14px;">

                        <textarea class="form-control" placeholder="reply" name="reply"></textarea>
                    </div>
                    <button class="btn btn-primary pull-right" type="submit">Reply</button>

                </form>
            </div>

        </div>
        <div class="col-sm-5">
            <h3>message</h3>
            <div class="panel panel-default">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>replies</h4></div>
                {% for t in re %}
                <div class = "panel-collapse">
                    <hr>
                    <p><a>{{t}}</a></p>
                </div>
                {% endfor %}

        </div>

</div><!--/row-->


</div>

 <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/bootstrap.min.js"></script>
</div>
</body>
</html>
